_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
debug.log
__pycache__
.DS_STORE
.env*
package.json
package-lock.json
yarn.lock
node_modules
Gemfile.lock
.venv
.bundle

# manubot 本地缓存, 不该进仓库
_cite/.cache/
